    @use "_variables" as v;

    /*Index*/
    .main-ind{
        margin: 10px;
        section {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }
        p {
            text-align: center;
            font-size: 18px;
        }
        h3 {
            margin: 10px;
        }
        img {
            border: 2px solid rgb(71, 2, 2);
            border-radius: 15px;
        }
}

@include v.mobile{
    .main-ind {
        display: flex;
        flex-direction: column;
        section {
            margin: 10px;
        }
        img {
            width: 300px;
            height: 400px;
        }
    }
}